@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bg-light: #f8f9fa;
  --color-bg-dark: #0d0d0d;
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-header-and-footer-bg: #1f2937;
  --color-header-and-footer-text: #ffffff;
  --color-secondary: #f59e0b;
  --color-text: #1f2937;
  --color-text-muted: #6b7280;
  --color-success: #10b981;
  --color-error: #ef4444;
  --search-bg: #ffffff;
  --search-text: #1f2937;
  --popover-bg: #ffffff;
  --popover-text: #171717;
  --card-bg: #ffffff;
  --card-border: #1f2937;
  --card-text: #171717;
  --card-hover-bg: #f3f4f6;
  --text-muted: #6b7280;
  --overlay-bg: rgba(0, 0, 0, 0.8);
}

[data-theme='dark'] {
  --background: #0d0d0d;
  --foreground: #f8f9fa;
  --color-bg-light: #1f2937;
  --color-primary: #3b82f6;
  --color-primary-dark: #1e40af;
  --color-header-and-footer-bg: #111827;
  --color-header-and-footer-text: #f8f9fa;
  --color-secondary: #fbbf24;
  --color-text: #f8f9fa;
  --color-text-muted: #9ca3af;
  --search-bg: #1f2937;
  --search-text: #f8f9fa;
  --popover-bg: #111827;
  --popover-text: #f8f9fa;
  --card-bg: #1f2937;
  --card-border: #f8f9fa;
  --card-text: #f8f9fa;
  --card-hover-bg: #374151;
  --text-muted: #9ca3af;
  --overlay-bg: rgba(0, 0, 0, 0.8);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-bg-light);
}

.header,
.footer {
  background-color: var(--color-header-and-footer-bg);
  color: var(--color-header-and-footer-text);
}
