.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text);
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 4rem 2rem; */
  /* background-color: var(--background); */
  color: var(--foreground);
}
